## TUGAS WEEK 12
## Adinda Syarifatul Muna 164231042

SOAL 1

In [24]:
#input
harga = float(input("Masukkan harga belanjaan: "))
diskon = int(input("Masukkan diskon: "))

#proses
hasil = harga-harga*(diskon/100)

#hasil
print("Harga akhir",hasil)

Masukkan harga belanjaan: 20000
Masukkan diskon: 10
Harga akhir 18000.0

SOAL 2

In [16]:
#input
babi = int(input('Masukkan jumlah babi '))
ayam = int(input('Masukkan jumlah ayam '))
sapi = int(input('Masukkan jumlah sapi '))
domba = int(input('Masukkan jumlah domba '))

#proses
a = babi*4
b = ayam*2
c = sapi*4
d = domba*4

#output
print('jumlah kaki', a+b+c+d)

Masukkan jumlah babi 1
Masukkan jumlah ayam 1
Masukkan jumlah sapi 1
Masukkan jumlah domba 1
jumlah kaki 14

In [6]:
def jumlah_kaki(babi, ayam, sapi, domba):
    return (babi*4 + ayam*2 + sapi*4 + domba*4)

In [7]:
print(jumlah_kaki(1,1,1,1))

14

SOAL 3

In [28]:
#input
alas = float(input('Masukkan panjang alas '))
tinggi = float(input('Masukkan panjang tinggi '))

#proses
miring = float((alas**2+tinggi**2)**0.5)

#output
print("Panjang sisi miring = ", miring)

Masukkan panjang alas 5
Masukkan panjang tinggi 12
Panjang sisi miring =  13.0

SOAL 4

In [34]:
#input
tahun = int(input('Masukkan jumlah tahun '))
pilih = int(input('Convert ke hari klik 1 atau Convert ke minggu klik 2 = '))

#proses
if pilih in [1,2]:
    hari = tahun*365
    minggu = tahun*52
    if pilih == 1:
        print(f"Jumlah hari adalah {hari} hari")
    elif pilih == 2:
        print(f"Jumlah minggu adalah {minggu} minggu")
else:
    print('error')

Masukkan jumlah tahun 1
Convert ke hari klik 1 atau Convert ke minggu klik 2 = 2
Jumlah minggu adalah 52 minggu

In [12]:
def relation_to_luke(name):
    if name == 'Darth Vader':
        relation = 'Father'
    elif name == 'Leia':
        relation = 'Sister'
    elif name == 'Han':
        relation = 'Brother in law'
    elif name == 'R2D2':
        relation = 'droid'
    return relation

In [11]:
relation_to_luke('Leia')

'Sister'